:root {
  --primary-color: #020202;
  --button-color: #285138;
  --card-grey: #f8f8f8;
  --primary-text: #2c2c2c;
  --secondary-text: #a79997;
  --default-transition: 0.5s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 3rem;
  margin-top: 4rem;
  display: flex;
  place-items: center;
  font-family: Helvetica, sans-serif;
}
